@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/resets.scss' as *;

.favourite {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $crochet-corner-green;
    background-color: $crochet-corner-light-green;
    border-radius: 7px;
    width: 20rem;
    align-items: center;
    padding: 1rem 0;
    box-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.3);
    position: relative;

    &:hover {
        background-color: $crochet-corner-green;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }

    &__inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    &__text-outer-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
    }

    &__symbol {
        height: 4rem;
    }

    &__trash {
        height: 2.5rem;
        width: 2.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        border-radius: 7px;

        &:hover {
            background-color: $crochet-corner-dark-green;
            border: 3px solid $crochet-corner-dark-green;
        }
    }
}