@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/resets.scss' as *;

.button {
    display: flex;
    width: 20rem;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0 3rem;
    border-radius: 7px;
    box-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.3);

    &--US {
        background-color: $crochet-corner-light-blue;

        &:hover {
            background-color: $crochet-corner-blue;
        }
    }

    &--UK {
        background-color: $crochet-corner-light-purple;

        &:hover {
            background-color: $crochet-corner-purple;
        }
    }

    &--favourite {
        background-color: $crochet-corner-light-green;

        &:hover {
            background-color: $crochet-corner-green;
        }
    }

    &--home {
        background-color: $crochet-corner-light-yellow;

        &:hover {
            background-color: $crochet-corner-yellow;
        }
    }

    &__text {
        @include mobile-page-button;
    }

    &__icon {
        height: 40px;
    }
}