@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/resets.scss' as *;

.stitch-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}