@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/resets.scss' as *;

.stitch {
    display: flex;
    width: 20rem;
    height: 3rem;
    border: none;
    padding: 0 1rem;
    border-radius: 7px;
    box-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.3);

    &--US {
        background-color: $crochet-corner-light-blue;

        &:hover {
            background-color: $crochet-corner-blue;
        }
    }

    &--UK {
        background-color: $crochet-corner-light-purple;

        &:hover {
            background-color: $crochet-corner-purple;
        }
    }

    &--favourite {
        background-color: $crochet-corner-light-green;

        &:hover {
            background-color: $crochet-corner-green;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__symbol {
        height: 2.5rem;
        width: 2.5rem;
    }

    &__text-name {
        @include mobile-page-body-small;
        width: 9.5rem;
        padding-left: 1.75rem;
    }

    &__text-code {
        @include mobile-page-body-small;
        width: 4rem;
        padding-left: 0.75rem;
    }

    &__heart {
        height: 2rem;
        width: 2rem;
    }
}