@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/resets.scss' as *;

.favourites {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-height: 19.8125rem;
}