@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/resets.scss' as *;

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.5rem;
    padding-top: 1.5rem;
    min-height: 52.5vh;

    &__icon {
        height: 8rem;
        width: 8rem;
        animation: enlarge 5s linear infinite;
    }
}

@keyframes enlarge {
    0%, 100% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-10%) scale(1.4);
    }
}
