@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/resets.scss' as *;

.header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 2rem 0;
    background-color: $crochet-corner-light-yellow;
    margin-bottom: 1.5rem;

    &__title {
        font-size: 2rem;
    }

    &__logo {
        height: 50px;
    }
}