@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/resets.scss' as *;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;

    &--homepage {
        background-color: $crochet-corner-light-yellow;
    }

    &--US {
        background-color: $crochet-corner-light-blue;
    }

    &--UK {
        background-color: $crochet-corner-light-purple;
    }

    &--favourite {
        background-color: $crochet-corner-light-green;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__title {
        font-size: 2rem;
    }

    &__logo {
        height: 50px;
    }
}